In [1]:
import pandas as pd

In [2]:
seq_df = pd.DataFrame({
    1: ("Q", "Q", "Q", "Q", "Q"),
    2: ("K", "K", "N", "K", "N"),
    3: ("L", "L", "A", "L", "-"),
}, index=("strain1", "strain2", "strain3", "strain5", "strain6"))
coord_df = pd.DataFrame({
    "x": (0, 0, 1, 1, 0),
    "y": (0, 1, 0, 1, 0),
}, index=("strain1", "strain2", "strain3", "strain4", "strain6"))

In [15]:
seq_df.mask(seq_df == '-')

         1  2    3
strain1  Q  K    L
strain2  Q  K    L
strain3  Q  N    A
strain5  Q  K    L
strain6  Q  N  NaN

In [16]:
grouped = seq_df.mask(seq_df == '-').groupby(seq_df.columns.tolist())

In [17]:
for group, df in grouped:
    print group
    print df
    print

('Q', 'K', 'L')
         1  2  3
strain1  Q  K  L
strain2  Q  K  L
strain5  Q  K  L

('Q', 'N', 'A')
         1  2  3
strain3  Q  N  A

In [9]:
group

('Q', 'N', 'A')

In [10]:
df

         1  2  3
strain3  Q  N  A

In [28]:
seq_df.mask(seq_df.applymap(is_not_amino_acid))

         1  2    3
strain1  Q  K    L
strain2  Q  K    L
strain3  Q  N    A
strain5  Q  K    L
strain6  Q  N  NaN

In [26]:
def is_not_amino_acid(a):
    if a not in amino_acids:
        return True
    return False

In [18]:
amino_acids = {
    "A",
    "C",
    "D",
    "E",
    "F",
    "G",
    "H",
    "I",
    "K",
    "L",
    "M",
    "N",
    "P",
    "Q",
    "R",
    "S",
    "T",
    "V",
    "W",
    "Y",
}